<nav class="w-full py-6 absolute">
  <ul class="flex items-center justify-around max-w-6xl mx-auto">
    <li>
      <h1 class="text-white logo">FunTravel</h1>
    </li>

    <li>
      <a class="px-6 text-white">Destinations</a>
      <a class="px-6 text-white">Hotels</a>
      <a class="px-6 text-white">Things to Do</a>
    </li>

    <li>
      <a class="px-6 text-white">Login</a>
      <a class="px-6 text-white">Support</a>
    </li>
  </ul>
</nav>
<!-- 
<nav class="absolute w-full py-6">
  <ul class="flex items-center justify-around max-w-6xl mx-auto">
    <li>
      <h1 class="text-white">FunTravel</h1>
    </li>

    <li>
      <a href="" class="text-white px-6">Destinations</a>
      <a href="" class="text-white px-6">Hotels</a>
      <a href="" class="text-white px-6">Things to Do</a>
    </li>

    <li>
      <a href="" class="text-white px-6">Login</a>
      <a href="" class="text-white px-6">Support</a>
    </li>
  </ul>
</nav> -->
