<section
  class="quote-form flex items-center justify-center p-12 container mx-auto h-24 bg-gray-400 rounded-lg"
>
  <input
    type="text"
    placeholder="Where would you like to go?"
    class="shadow rounded py-2 px-3 text-gray-700 w-1/4 focus:outline-none focus:border-gray-700 border mr-8"
  />
  <input
    type="date"
    class="shadow rounded py-2 px-3 text-gray-700 w-1/4 focus:outline-none focus:border-gray-700 border mr-8"
  />
  <input
    type="date"
    class="shadow rounded py-2 px-3 text-gray-700 w-1/4 focus:outline-none focus:border-gray-700 border mr-8"
  />
  <button
    class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded w-1/4"
  >
    Submit
  </button>
</section>
